<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/backend/static/dist/assets/handylogo-ecf4662a.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>handycreations</title>
    <script type="module" crossorigin src="/backend/static/dist/assets/index-e84d4c68.js"></script>
    <link rel="stylesheet" href="/backend/static/dist/assets/index-59a82059.css">
  </head>
  <body>
    <div id="root"></div>
    
  </body>
</html>
